@font-face {
  font-family: Portico;
  src: url("../fonts/684_Portico/Portico Urban.otf");
}
@font-face {
  font-family: Rubic;
  src: url("../fonts/689_rubik/Rubik-Black.ttf");
}
.up-btn {
  width: 50px;
  height: 50px;
  background: url("../img/up-btn.png") no-repeat;
  background-size: cover;
  position: fixed;
  text-align: center;
  z-index: 999;
  bottom: 30px;
  right: 30px;
  border: none;
  outline: none;
  transition: all 1s;
}
.up-btn:hover,
.up-btn:active {
  outline: none;
}
header {
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 9px 0px #393b32;
}
header .header-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0 50px;
}
header .header-flex .header-logo {
  font-family: Portico;
  font-size: 60px;
  font-weight: 900;
  color: black;
  margin-right: auto;
}
header .header-flex .header-logo-letter {
  color: #f046e7;
}
header .header-flex .header-btn {
  display: none;
}
header .header-flex-anchor {
  color: black;
  font-size: 30px;
  font-family: Rubic;
  font-weight: 900;
  margin-right: 20px;
  text-decoration: none;
  transition: all 0.5s;
}
header .header-flex-anchor:hover {
  font-size: 34px;
  color: #f046e7;
}
nav {
  display: none;
}
main {
  padding-top: 3px;
}
main .art-holst {
  display: flex;
  width: 100%;
  height: 40vw;
  padding: 10px 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/main-img2.jpg");
  justify-content: flex-end;
  align-items: flex-end;
}
main .art-holst button {
  height: 50px;
  color: white;
  font-size: 28px;
  margin-right: 40px;
  font-weight: 900;
  border: none;
  padding: 0 30px;
  background-color: black;
  transition: all 1s;
  border-radius: 30px ;
}
main .art-holst button a {
  outline: none;
  color: inherit;
  text-decoration: none;
}
main .art-holst button:hover {
  border-radius: 10px;
  background-color: white;
  color: black;
}
main .about-flex {
  margin: 50px 0;
  padding: 0 50px;
}
main .about-flex-header {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}
main .about-flex-description-block {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
main .about-flex-description-block-right {
  width: 50%;
  font-weight: 500;
}
main .about-flex-description-block h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
}
main .about-flex-description-block img {
  height: 40%;
  width: 40%;
  margin-right: 10px;
}
main .holst-flex {
  font-size: 20px;
}
main .holst-flex-header {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}
main .holst-flex .holst-flex-wrap {
  display: flex;
  justify-content: space-around;
}
main .holst-flex-price {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/background.jpg");
}
main .holst-flex-price img {
  width: 40%;
  height: 40%;
  margin-right: 10px;
}
main .holst-flex-price-desc {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-weight: 700;
}
main .holst-flex-price-desc-header {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
}
main .holst-flex-natural {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}
main .holst-flex-natural img {
  width: 40%;
  height: 40%;
  margin-left: 20px;
}
main .holst-flex-natural-desc {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 50%;
  font-weight: 500;
}
main .holst-flex-natural-desc-header {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
}
main .holst-flex .podramnik-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/background.jpg");
  padding-bottom: 30px;
}
main .holst-flex .podramnik-flex-header {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}
main .holst-flex .podramnik-flex-img {
  display: flex;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/galery.jpg");
  width: 70%;
  height: 39vw;
  transition: 2s;
  border: 3px solid black;
}
main .holst-flex .podramnik-flex-img button {
  width: 50%;
  height: 50px;
  font-size: 30px;
  font-weight: 900;
  color: white;
  text-align: center;
  background-color: black;
  transition: all 1s;
  border: 1px black solid;
  outline: none;
}
main .holst-flex .podramnik-flex-img button:active,
main .holst-flex .podramnik-flex-img button:hover {
  outline: none;
}
main .holst-flex .podramnik-flex-img button:first-child {
  background-color: white;
  color: black;
}
main .styles {
  margin-top: 50px;
}
main .styles-flex {
  display: flex;
  justify-content: center;
  padding: 0 50px;
}
main .styles-flex-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .styles-flex-img button {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 15%;
  height: 6vw;
  background-color: transparent;
  border: none;
  margin: 0 5px;
}
main .styles-flex-img #style-left {
  background-image: url("../img/left.png");
}
main .styles-flex-img #style-right {
  background-image: url("../img/right.png");
}
main .styles-flex-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  transition: all 1s;
}
main .styles-flex-buttons-wrap {
  width: 18vw;
  height: 37vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/iphone.png");
  padding: 30px 20px;
}
main .styles-flex-buttons .style-btn {
  margin-bottom: 10px;
  background-color: black;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  transition: 1s;
  outline: none;
  opacity: 0.8;
}
main .styles-flex-buttons .style-btn:focus {
  background-color: #f046e7;
}
main .styles-flex-buttons .style-btn:last-child {
  margin-bottom: 0;
}
main .styles-flex-img {
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/gta1.jpg");
  transition: all 1s;
  width: 37%;
  height: 37vw;
}
main .contacts {
  margin-top: 50px;
}
main .contacts-img {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/main-img.jpg");
  width: 100%;
  height: 40vw;
}
main .contacts-flex {
  padding: 70px 50px;
  display: flex;
  justify-content: space-around;
}
main .contacts-flex-img {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/collage.jpg");
  width: 40%;
  height: 40vw;
}
main .contacts-flex-desc {
  font-size: 20px;
  font-weight: 500;
  width: 40%;
}
main .contacts-flex-desc-header {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
}
footer {
  height: 180px;
  background-color: black;
  color: white ;
  font-size: 16px;
  font-weight: 400;
}
footer .footer-flex {
  display: flex;
  justify-content: space-around;
  padding: 10px 50px;
}
footer .footer-flex .footer-header {
  margin-bottom: 15px;
  font-size: 20px;
  display: block;
  font-weight: 700;
}
footer .footer-flex .social {
  width: 30%;
}
footer .footer-flex .social img {
  padding: 2px;
  width: 50px;
  height: 50px;
}
footer .footer-flex .contacts {
  width: 30%;
}
footer .footer-flex .contacts a {
  color: inherit;
}
footer .footer-flex .info-about-me {
  width: 30%;
}
footer .footer-flex .info-about-me a {
  color: white;
}
@media screen and (max-width: 425px) {
  main .styles {
    justify-content: center;
  }
  main .styles-flex {
    margin: 0 auto;
    display: flex;
    width: 60vw;
    height: 130vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5px;
    background-image: url("../img/iphone.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  main .styles-flex-img {
    order: -1;
    justify-self: flex-start;
    width: 90%;
    height: 45vh;
    border-radius: 0;
  }
  main .styles-flex-buttons {
    width: 80%;
  }
  main .styles-flex-buttons-wrap {
    padding-bottom: 2px;
    padding-top: 2px;
    width: 100%;
    background: none;
    height: 31vw;
  }
  main .styles-flex-buttons .style-btn {
    margin: 2px 0;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  header {
    position: fixed;
    z-index: 99999;
  }
  header .header-flex {
    margin: 0 5px;
    padding: 0;
    justify-content: flex-end !important;
  }
  header .header-flex .header-logo {
    margin: 0 0 0 auto;
  }
  header .header-flex .header-btn {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../img/menu-btn.png");
    width: 40px;
    height: 40px;
    display: block;
    background-color: transparent;
    border: none;
  }
  header .header-flex a {
    display: none;
  }
  nav {
    position: sticky;
    display: block;
  }
  nav .nav-flex {
    margin-top: 60px;
    height: 100vh;
    width: 50%;
    background-color: #f046e7;
    position: fixed;
    transition: all 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-100%);
    z-index: 9999;
  }
}
@media screen and (max-width: 1024px) {
  header .header-flex {
    padding: 0 25px;
  }
  header .header-logo {
    font-size: 40px !important;
  }
  header a {
    font-size: 22px !important;
  }
  main .about-flex {
    padding: 0 25px;
  }
  main .holst-flex-price {
    padding: 0 25px;
  }
  main .contacts-flex {
    padding: 70px 25px;
  }
  main .holst-flex-natural {
    padding: 30px 25px;
  }
  main .holst-flex-natural p:last-child {
    display: none;
  }
  main .podramnik-flex button {
    font-size: 20px !important;
  }
}
/*# sourceMappingURL=style.css.map */