@font-face {
  font-family: Portico;
  src: url("../fonts/684_Portico/Portico Urban.otf");
}
@font-face {
  font-family: Rubic;
  src: url("../fonts/689_rubik/Rubik-Black.ttf");
}
@container-padding: 50px;
@container-padding-small-pc: 25px;
@container-padding-small-phone: 5px;


.up-btn{
  width: 50px;
  height: 50px;
  background: url("../img/up-btn.png") no-repeat;
  background-size: cover;
  position: fixed;
  text-align: center;
  z-index: 999;
  bottom: 30px;
  right: 30px;
  border: none;
  outline: none;
  transition: all 1s;
  &:hover, &:active{
    //width: 60px;
    //height: 60px;
    outline: none;
  }
}

header{
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 9px 0px rgba(57, 59, 50, 1);


  .header-flex{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0 @container-padding;
    .header-logo {
      font-family: Portico;
      font-size: 60px;
      font-weight: 900;
      color: black;
      margin-right: auto;
      &-letter{
        color: #f046e7;
      }
    }
    .header-btn{
      display: none;
    }
    &-anchor{
      color: black;
      font-size: 30px;
      font-family: Rubic;
      font-weight: 900;
      margin-right: 20px;
      text-decoration: none;
      transition: all 0.5s;
      &:hover{
        font-size: 34px;
        color: #f046e7;
      }
    }
  }

}

nav{
  display: none;
}

main{
  padding-top: 3px;
  .art-holst{
    display: flex;
    width: 100%;
    height: 40vw;
    padding: 10px 0;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../img/main-img2.jpg");

    justify-content: flex-end;
    align-items: flex-end;
    button{
      height: 50px;
      color: white;
      font-size: 28px;
      margin-right: 40px;
      font-weight: 900;
      border: none;
      padding: 0 30px;
      background-color: black;
      transition: all 1s;
      border-radius: 30px ;
      a{
        outline: none;
        color: inherit;
        text-decoration: none;
      }
      &:hover{
        border-radius: 10px;

        background-color: white;
        color: black;
      }
    }
  }
  .about-flex{
    margin: 50px 0;
    padding: 0 @container-padding;
    &-header{
      font-size: 70px;
      font-weight: 700;
      text-align: center;
    }
    &-description-block{
      margin: 20px 0;
      display: flex;
      justify-content: space-around;
      font-size: 20px;
      &-right{
        width: 50%;
        font-weight: 500;
        }
      h1 {
        text-align: center;
        font-size: 42px;
        font-weight: 900;
      }
      img{
        height: 40%;
        width: 40%;
        margin-right: 10px;
      }
    }
  }
  .holst-flex{
    font-size: 20px;
    &-header{
      font-size: 70px;
      font-weight: 700;
      text-align: center;
    }
    .holst-flex-wrap{
      display: flex;
      justify-content: space-around;
    }
    &-price{
      padding: 0 @container-padding;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-image: url("../img/background.jpg");
      img{
        width: 40%;
        height: 40%;
        margin-right: 10px;
      }

      &-desc{
        display: flex;
        flex-direction: column;
        width: 50%;
        font-weight: 700;
        &-header {
          text-align: center;

          font-size: 42px;
          font-weight: 900;
        }
      }
    }

    &-natural{
      padding: 30px @container-padding;
      display: flex;
      justify-content: space-between;
      img{
        width: 40%;
        height: 40%;
        margin-left: 20px;
      }

      &-desc{
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 50%;
        font-weight: 500;
        &-header {
          text-align: center;

          font-size: 42px;
          font-weight: 900;
        }
      }
    }
    .podramnik-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-image: url("../img/background.jpg");
      padding-bottom: 30px;
      &-header {
        font-size: 70px;
        font-weight: 700;
        text-align: center;
      }

      &-img {
        display: flex;
        justify-content: space-around;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-image: url("../img/galery.jpg");
        width: 70%;
        height: 39vw;
        transition: 2s;
        border: 3px solid black;

        button {
          width: 50%;
          height: 50px;
          font-size: 30px;
          font-weight: 900;
          color: white;
          text-align: center;
          background-color: black;
          transition: all 1s;
          border: 1px black solid;
          outline: none;

          &:active, &:hover {
            outline: none;
          }

          &:first-child {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
  .styles{
    margin-top: 50px;
  }
  .styles-flex{
    display: flex;
    justify-content: center;
    padding: 0 @container-padding;
    &-img{
      display: flex;
      justify-content: space-between;
      align-items: center;
      button{
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 15%;
        height: 6vw;
        background-color: transparent;
        border: none;
        margin: 0 5px;
      }
      #style-left{
        background-image: url("../img/left.png");
      }
      #style-right{
        background-image: url("../img/right.png");
      }
    }
    &-buttons{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
      transition: all 1s;
      &-wrap{
        width: 18vw;
        height: 37vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-image: url("../img/iphone.png");
        padding: 30px 20px;
      }
      .style-btn {
        margin-bottom: 10px;
        background-color: black;
        width: 100%;
        color: white;
        font-size: 20px;
        font-weight: 700;
        border: none;
        transition: 1s;
        outline: none;
        opacity: 0.8;
        &:focus{
          background-color: #f046e7;
          //color: black;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &-img{
     border-radius: 50px;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-image: url("../img/gta1.jpg");
      transition: all 1s;
      width: 37%;
      height: 37vw;
    }
  }
  .contacts{
    margin-top: 50px;
    &-img{
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-image: url("../img/main-img.jpg");
      width: 100%;
      height: 40vw;
    }
    &-flex{
      padding: 70px @container-padding;
      display: flex;
      justify-content: space-around;
      &-img{
        border-radius: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-image: url("../img/collage.jpg");
        width: 40%;
        height: 40vw;
      }
      &-desc{
        font-size: 20px;
        font-weight: 500;
        width: 40%;
        &-header{
          text-align: center;
          font-size: 42px;
          font-weight: 900;
        }
      }
    }
  }
}

footer{
  height: 180px;
  background-color: black;
  color: white ;
  font-size: 16px;
  font-weight: 400;

  .footer-flex{
    display: flex;
    justify-content: space-around;
    padding:10px @container-padding;
    .footer-header {
      margin-bottom: 15px;
      font-size: 20px;
      display: block;
      font-weight: 700;
    }
    .social{
      width: 30%;
      img{
        padding: 2px;
        width: 50px;
        height: 50px;
      }

    }
    .contacts{
      width: 30%;
      a{
        color: inherit;
      }
    }
    .info-about-me{
      width: 30%;
      a{
        color: white;
      }
    }
  }
}



@media screen and (max-width: 425px) {
  header{

  }
  main {
    .styles{
      justify-content: center;
    }
    .styles-flex{
      margin: 0 auto;
      display: flex;
      width: 70vw;
      height: 150vw;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 @container-padding-small-phone;
      background-image: url("../img/iphone.png");
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      &-img{
          order: -1;
        justify-self: flex-start;
        width: 90%;
        height: 45vh;
        border-radius: 0;
        button{

        }
      }
      &-buttons{
        width: 80%;
        &-wrap{
          display: grid;
          align-items: start;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: 1fr 1fr;
          width: 100%;
          background: none;
          height: 31vw;
          padding: 2px 0;
        }
        .style-btn {
          width: 100%;
          height: 70%;
          font-size: 16px;
          padding: 0;
          margin: 0 !important;
        }
      }
    }
  }
}

@media  screen and (max-width: 768px) {
  header{
    position: fixed;
    z-index: 99999;
    .header-flex{
      margin: 0 5px;
      padding: 0;
      justify-content: flex-end !important;
      .header-logo{
        margin: 0 0 0 auto;
      }
      .header-btn{
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-image: url("../img/menu-btn.png");
        width: 40px;
        height: 40px;
        display: block;
        background-color: transparent;
        border: none;
      }
      a{
        display: none;
      }
    }
  }
  nav{
    position: sticky;
    display: block;
    .nav-flex {
      margin-top: 60px;
      height: 100vh;
      width: 50%;
      background-color: #f046e7;
      position: fixed;
      transition: all 0.7s;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transform: translateX(-100%);
      z-index: 9999;
    }
  }
}

@media  screen and (max-width: 1024px) {
  header{
    .header-flex{
      padding: 0 @container-padding-small-pc;
    }
    .header-logo{
      font-size: 40px !important;
    }
    a{
      font-size: 22px !important;
    }
  }
  main{
    .about-flex{
      padding: 0 @container-padding-small-pc;
    }
    .holst-flex-price{
      padding: 0 @container-padding-small-pc;
    }

    .contacts-flex{
      padding: 70px @container-padding-small-pc;
    }
    .holst-flex-natural{
      padding: 30px @container-padding-small-pc;
      p:last-child{
        display: none;
      }
    }
    .podramnik-flex{
      button{
        font-size: 20px !important;
      }
    }
  }
}